@import "tailwindcss";

:root {
  --font-amiri: 'Amiri', serif;
  --font-allura: 'Allura', cursive;
  --font-cormorant: 'Cormorant Garamond', serif;
  --font-alex-brush: 'Alex Brush', cursive;
}

body {
  background: #000;
}

.font-amiri { font-family: var(--font-amiri); }
.font-allura { font-family: var(--font-allura); }
.font-cormorant { font-family: var(--font-cormorant); }
.font-alex-brush { font-family: var(--font-alex-brush); }
